In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from scipy.stats import norm
import matplotlib.pyplot as plt
%matplotlib inline

import statistics


import aws_connection
sw = aws_connection.get_connection()

Matplotlib is building the font cache; this may take a moment.
/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

### Mean, Mode and Median

In [2]:
import statistics

data = [23, 45, 67, 89, 23, 80, 67, 23,80,  90, 45, 70, 80, 80,80 ]
mean = statistics.mean(data)
median = statistics.median(data)
mode = statistics.mode(data)

In [3]:
mean, median, mode

(62.8, 70, 80)

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

    0
0  23
1  45
2  67
3  89
4  23

In [6]:
mode = df.mode()

In [7]:
mode

    0
0  80

### Variance and Std Deviation
Standard deviation represents the magnitude of how far the data points are from the mean. A low value of standard deviation is an indication of the data being close to the mean, and a high value indicates that the data is spread to extreme ends, far away from the mean.

In [8]:
variance = np.var(data)
std_deviation = np.std(data)

print("Variance:", variance)
print("Std Deviation:", std_deviation)

Variance: 558.56
Std Deviation: 23.633873994755916

### Correlation

In [9]:
data1 = [2, 4, 6, 8, 10,12]
data2 = [3, 6, 9, 12, 15,18]

correlation = np.corrcoef(data1, data2)[0,1]
print("Correlation Coefficient:", correlation)

Correlation Coefficient: 1.0

### Random sample from Normal Distribution

In [10]:
sample = np.random.normal(0, 1, size=50)
print("Random Sample:", sample)

Random Sample: [-1.38225073  0.42334279  0.58466087  0.34920665 -1.1533654   0.96469869
 -0.88527475 -0.07753083  0.26216987 -0.19185937  0.15283385 -0.69922302
  1.17503504 -0.51922229  0.22401135  0.63470958  1.85922083 -0.4080271
  0.76190498  1.59896992  0.39950494  1.49378999  0.98116942  0.41231563
  0.26159635 -0.46439418 -0.26229455  2.14454141  0.1766227  -0.07906101
  0.70949017 -0.58079714 -0.65261858  1.17642877 -0.39793768 -0.08276066
  2.75582868  0.00370445  1.00715657  0.98823794 -1.02348327  0.41593746
  0.54049033  2.23964311 -0.05113734  0.59690316 -0.24531287  0.04995617
 -0.07576474  1.01508548]

In [11]:
print(sample.mean())

0.34253703279620323

In [12]:
median = statistics.median(sample)
modde = statistics.mode(sample)  # could not fins bcz all 50 records are unique

StatisticsError: no unique mode; found 50 equally common values

In [13]:
median

0.26188311114430374

### Five Number Summary(Box Plot)
The five-number summary is a measure of five entities that cover the entire range of data as shown below:

Low extreme (Min)

First quartile (Q1)

Median

Upper quartile (Q3)

High extreme (Max)

In [14]:
import numpy as np

data = [10, 15, 18, 23, 28, 18, 15, 12, 10, 30, 32, 39, 50, 5]

minimum = np.min(data)
q1 = np.percentile(data, 25)
median = np.median(data)
q3 = np.percentile(data, 75)
maximum = np.max(data)

print("Minimum:", minimum)
print("Q1:", q1)  #  25% data points lies below the value or 75 % data points lies above the value
print("Median:", median)
print("Q3:", q3) #  75% data points lies below the value or 25 % data points lies above the value
print("Maximum:", maximum)

Minimum: 5
Q1: 12.75
Median: 18.0
Q3: 29.5
Maximum: 50

In [15]:
q2 = q1 = np.percentile(data, 50)
q2

18.0

In [16]:

μ= 160  # mean
Z= 1.2 # Z- score
σ = 15 #  std deviation

X = μ +( Z*σ)



#Therefore, X = 160 + (15*1.2) = 173.8 (Approximated to 174)

In [17]:
X

178.0

## mean , median , mode

In [44]:
# Define a list of numbers
data = [10, 12, 15, 17, 20, 20, 22, 25, 30, 35]

# Calculate the mean
mean = sum(data) / len(data)
print("Mean:", mean)

# Calculate the median
sorted_data = sorted(data)
n = len(sorted_data)
if n % 2 == 0:
    median = (sorted_data[n // 2 - 1] + sorted_data[n // 2]) / 2
else:
    median = sorted_data[n // 2]
print("Median:", median)

# Calculate the mode
c = Counter(data)
mode = c.most_common(1)[0][0]
print("Mode:", mode)

Mean: 20.6
Median: 20.0
Mode: 20

In [45]:

# Column names
column_names = ['value']

# Create DataFrame with column names
df = pd.DataFrame(data, columns=column_names)

# Display DataFrame
print(df)

   value
0     10
1     12
2     15
3     17
4     20
5     20
6     22
7     25
8     30
9     35

In [46]:
df.head()

   value
0     10
1     12
2     15
3     17
4     20

In [47]:
df.query('value>30')

   value
9     35

In [52]:
df.loc[df["value"]>40 ]

Empty DataFrame
Columns: [value]
Index: []

In [4]:
emp = pd.read_csv('emplyee_data.csv')

In [7]:
emp.head()

   ID  INCOME DESIGNATION
0  12   10000         SDE
1  13    7999          DA
2  14    9000          BA
3  15   12000          HR
4  16   15000         SDE

In [3]:
pro = pd.read_csv('project_data.csv')

In [8]:
pro.head()

   ID PROJECTS DONE        DATE
0  12             A  01-01-2023
1  12             B  02-01-2023
2  12             C  03-01-2023
3  15             A  04-01-2023
4  15             B  05-01-2023

In [9]:
inner_df = pd.merge(emp, pro, on='ID', how='inner')

In [24]:
inner_df.head()

   ID  INCOME DESIGNATION PROJECTS DONE        DATE
0  12   10000         SDE             A  01-01-2023
1  12   10000         SDE             B  02-01-2023
2  12   10000         SDE             C  03-01-2023
3  15   12000          HR             A  04-01-2023
4  15   12000          HR             B  05-01-2023

In [12]:
left_df = pd.merge(emp, pro, on='ID', how='left')

In [13]:
left_df.shape

(33, 5)

In [15]:
right_df = pd.merge(emp, pro, on='ID', how='right')

In [16]:
right_df.shape

(18, 5)

In [18]:
concatenated_df = pd.concat([emp, pro], ignore_index=True)

In [22]:
concatenated_df.shape

(36, 5)