In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import statistics


import aws_connection
sw = aws_connection.get_connection()

### Mean, Mode and Median

In [35]:
import statistics

data = [23, 45, 67, 89, 23, 80, 67, 23,80,  90, 45, 70, 80, 80,80 ]
mean = statistics.mean(data)
median = statistics.median(data)
mode = statistics.mode(data)

In [36]:
mean, median, mode

(62.8, 70, 80)

In [37]:
df = pd.DataFrame(data)

In [42]:
df.head()

    0
0  23
1  45
2  67
3  89
4  23

In [39]:
mode = df.mode()

In [40]:
mode

    0
0  80

### Variance and Std Deviation
Standard deviation represents the magnitude of how far the data points are from the mean. A low value of standard deviation is an indication of the data being close to the mean, and a high value indicates that the data is spread to extreme ends, far away from the mean.

In [44]:
variance = np.var(data)
std_deviation = np.std(data)

print("Variance:", variance)
print("Std Deviation:", std_deviation)

Variance: 558.56
Std Deviation: 23.633873994755916

### Correlation

In [51]:
data1 = [2, 4, 6, 8, 10,12]
data2 = [3, 6, 9, 12, 15,18]

correlation = np.corrcoef(data1, data2)[0,1]
print("Correlation Coefficient:", correlation)

Correlation Coefficient: 1.0

### Random sample from Normal Distribution

In [73]:
sample = np.random.normal(0, 1, size=50)
print("Random Sample:", sample)

Random Sample: [-1.14544134e+00  1.31583586e+00 -7.00104329e-01  1.00093100e+00
  2.64229545e+00 -8.00103126e-01  8.19833353e-01  7.84734268e-01
 -7.52504310e-01  6.28816668e-02 -1.20541328e+00 -7.81497375e-01
  1.01606084e+00 -6.68350326e-01  3.08606262e-01  5.90915776e-01
 -1.21060164e+00  3.62297360e-01  6.71551057e-01 -1.09979066e+00
  1.53346706e+00 -3.93182547e-01  1.46619795e+00 -7.57190960e-01
  6.41012177e-02  8.95520316e-01 -3.36070641e-01  2.42684720e-01
  5.38642518e-01  5.39064354e-01  8.41285755e-01 -1.00732226e+00
 -1.49152063e+00 -8.87621266e-03  1.06401135e+00  1.19647278e+00
 -6.75986650e-01  1.12423844e+00  8.50552566e-01 -6.92607036e-01
 -1.17460113e-01 -1.54159654e+00 -1.02052110e+00 -1.14848598e+00
 -1.70753867e+00 -3.79358576e-01  8.54214362e-01  4.43309512e-01
 -6.47441496e-01 -2.20672465e-03]

In [74]:
print(sample.mean())

0.01877066539661359

In [77]:
median = statistics.median(sample)
modde = statistics.mode(sample)  # could not fins bcz all 50 records are unique

StatisticsError: no unique mode; found 50 equally common values

In [76]:
median

0.030337471059106034

### Five Number Summary(Box Plot)
The five-number summary is a measure of five entities that cover the entire range of data as shown below:

Low extreme (Min)

First quartile (Q1)

Median

Upper quartile (Q3)

High extreme (Max)

In [80]:
import numpy as np

data = [10, 15, 18, 23, 28, 18, 15, 12, 10, 30, 32, 39, 50, 5]

minimum = np.min(data)
q1 = np.percentile(data, 25)
median = np.median(data)
q3 = np.percentile(data, 75)
maximum = np.max(data)

print("Minimum:", minimum)
print("Q1:", q1)  #  25% data points lies below the value or 75 % data points lies above the value
print("Median:", median)
print("Q3:", q3) #  75% data points lies below the value or 25 % data points lies above the value
print("Maximum:", maximum)

Minimum: 5
Q1: 12.75
Median: 18.0
Q3: 29.5
Maximum: 50

In [84]:
q2 = q1 = np.percentile(data, 50)
q2

18.0

In [94]:

μ= 160  # mean
Z= 1.2 # Z- score
σ = 15 #  std deviation

X = μ +( Z*σ)



#Therefore, X = 160 + (15*1.2) = 173.8 (Approximated to 174)

In [92]:
X

178.0