In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import aws_connection
sw = aws_connection.get_connection()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [81]:
#df = pd.read_sql(f'''  select * from  loan_application limit 90''', sw)

In [82]:
df

             John    Alice       Bob     Jitu    Eva
age            30     25.0        28       25     35
position  Manager      NaN  Designer  Analyst     HR
salary      50000  40000.0     45000    48000  42000

In [10]:
type(df)

pandas.core.frame.DataFrame

# Data Structure

# 1. Lists:
####  Lists are ordered, mutable (modifiable), and can store elements of different data types. They are enclosed in square brackets [ ] and support indexing and slicing to access elements.

In [19]:
# Creating a list
Emp = ['Jitu', 'Shivani', 'Rani', 'Sambit']
print(Emp)
# Accessing elements
print(Emp[0])    # Output: 'apple'
print(Emp[1:])   # Output: ['banana', 'orange', 'grape']

# Modifying elements
Emp[2] = 'kiwi'
print(Emp)       # Output: ['apple', 'banana', 'kiwi', 'grape']

# Adding elements
Emp.append('mango')
print(Emp)       # Output: ['apple', 'banana', 'kiwi', 'grape', 'mango']

# Removing elements
Emp.remove('Sambit')
print(Emp)       # Output: ['apple', 'kiwi', 'grape', 'mango']

['Jitu', 'Shivani', 'Rani', 'Sambit']
Jitu
['Shivani', 'Rani', 'Sambit']
['Jitu', 'Shivani', 'kiwi', 'Sambit']
['Jitu', 'Shivani', 'kiwi', 'Sambit', 'mango']
['Jitu', 'Shivani', 'kiwi', 'mango']

In [21]:
Table1 = [1,2,3,4,5,6]
Table2 = [7,8,9,10]

In [23]:
Table1 + Table2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
Table1*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

# 2.Tuples:
#### Tuples are ordered, immutable (cannot be changed after creation), and use parentheses ( ) to define elements. They are useful for representing fixed collections of items.

In [28]:
# Creating a tuple
point = (10, 20)

# Accessing elements
print(point[0])     # Output: 10

# Tuples are immutable, so the following line will raise an error:
 #point[0] = 5

10

In [30]:
point*2   # append 2 times

(10, 20, 10, 20)

# 3.Dictionaries:
#### Dictionaries are unordered, mutable, and store data in key-value pairs. They use curly braces { } to define elements, with each key-value pair separated by a colon (:).

In [41]:
# Creating a dictionary
student = {'emp': 'Jitu', 'age': 25, 'grade': 'A','name': 'John' }


# Accessing elements
print(student['name'])   # Output: 'John'

# Modifying elements
student['age'] = 26
print(student)           # Output: {'name': 'John', 'age': 26, 'grade': 'A'}

# Adding elements
student['school'] = 'ABC High School'
print(student)           # Output: {'name': 'John', 'age': 26, 'grade': 'A', 'school': 'ABC High School'}

# Removing elements
del student['grade']
print(student)           # Output: {'name': 'John', 'age': 26, 'school': 'ABC High School'}

John
{'emp': 'Jitu', 'age': 26, 'grade': 'A', 'name': 'John'}
{'emp': 'Jitu', 'age': 26, 'grade': 'A', 'name': 'John', 'school': 'ABC High School'}
{'emp': 'Jitu', 'age': 26, 'name': 'John', 'school': 'ABC High School'}

In [79]:
# Example of a nested dictionary
employee_data = {
    'John': {
        'age': 30,
        'position': 'Manager',
        'salary': 50000  },
    'Alice': {
        'age': 25,
        'position': 'Developer',
        'salary': 40000 },
    'Bob': {
        'age': 28,
        'position': 'Designer',
        'salary': 45000},
    'Jitu': {
        'age': 25,
        'position': 'Analyst',
        'salary': 60000}   }

# Accessing elements in the nested dictionary
print(employee_data['Jitu']['position'])   
print(employee_data['Alice']['age'])      

# Modifying elements in the nested dictionary
employee_data['Jitu']['salary'] = 90000
print(employee_data['Jitu']['salary'])    

# Adding new employee to the nested dictionary
employee_data['Eva'] = {
    'age': 35,
    'position': 'HR',
    'salary': 42000
}
print(employee_data['Eva'])              

# Deleting elements in the nested dictionary
del employee_data['Alice']['position']
print(employee_data['Alice'])       


# modifications
employee_data['age'] = 50
print(employee_data['Eva']['age'])

Analyst
25
90000
{'age': 35, 'position': 'HR', 'salary': 42000}
{'age': 25, 'salary': 40000}
35

# 4.Sets:
#### Sets are unordered and mutable collections of unique elements. They use curly braces { } or the set() function to define elements. Sets are useful for removing duplicates and performing set operations like union, intersection, etc.

In [42]:
# Creating a set
fruits_set = {'apple', 'banana', 'orange', 'apple'}

# Duplicates are automatically removed
print(fruits_set)        # Output: {'apple', 'banana', 'orange'}

# Set operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1.union(set2))       # Output: {1, 2, 3, 4, 5}
print(set1.intersection(set2))  # Output: {3}

{'apple', 'orange', 'banana'}
{1, 2, 3, 4, 5}
{3}

In [80]:
# fruits_set[2]   set doesnot support indexing