In [ ]:
import pandas as pd 

import numpy as np

In [2]:
def double(x):
    return x*2
print(double(5))

10

In [4]:
triple = lambda x: x*3
print(triple(5))

15

In [7]:
triple = lambda x: x*3
cube = lambda x: x*x*x
avg = lambda x,y,z: (x+y+z)/3
print(triple(5))
print(cube(4))
print(avg(2,6,4))

15
64
4.0

In [11]:
def appl(fx, value):
    return 6+fx(value)
print(appl(cube, 2))

14

In [13]:
print(appl(lambda x: x*x*x,2))

14

## Filtering Data:
Lambda functions can be used with functions like filter() to filter data based on a specific condition.

In [2]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_data = list(filter(lambda x: x % 2 != 0, data))
print(filtered_data)

[1, 3, 5, 7, 9]

## Mapping Data:

You can use lambda functions with functions like map() to transform data

In [3]:
data = [1, 2, 3, 4, 5,6,7,8,9,10]
squared_data = list(map(lambda x: x ** 2, data))
print(squared_data)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Conditional Transformations:
You can use lambda functions in combination with if and else to perform conditional transformations.

In [4]:
data = [1, 2, 3, 4, 5,6,7,8,9,90]
transformed_data = list(map(lambda x: x * 2 if x % 2 == 0 else x, data))
print(transformed_data)

[1, 4, 3, 8, 5, 12, 7, 16, 9, 180]

## Calculating Aggregate Values:
Lambda functions can be used with functions like reduce() to calculate aggregate values.

In [5]:
from functools import reduce

data = [1, 2, 3, 4, 5,6,90,100]
sum_data = reduce(lambda x, z: x+z, data)
print(sum_data)

211

In [6]:
from functools import reduce

data = [1, 2, 3, 4, 5,6,90,100]
sum_data = reduce(lambda x, z: x+z, data)  
print(sum_data)

211




## Data Analysis with Pandas

In [7]:
import pandas as pd

data = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8]})

# Apply a lambda function to multiply column 'A' by 2
data['A'] = data['A'].apply(lambda x: x +10)

print(data)

    A  B
0  11  5
1  12  6
2  13  7
3  14  8

In [8]:
# Apply a lambda function to multiply column 'A' by 2
data['B'] = data['B'].apply(lambda x: x *10)

In [9]:
print(data)

    A   B
0  11  50
1  12  60
2  13  70
3  14  80

In [10]:
data['C'] = data['B'].apply(lambda x: x *10)

In [11]:
print(data)

    A   B    C
0  11  50  500
1  12  60  600
2  13  70  700
3  14  80  800

In [12]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_data = list(filter(lambda x: x % 2 != 0, data))
print(filtered_data)

[1, 3, 5, 7, 9]

In [13]:

data = [1, 2, 3, 4, 5,6,7,8,9,10]
squared_data = list(map(lambda x: x ** 2, data))
print(squared_data)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

1
2
3
4
5
6
7
8
9
10

In [15]:
data = [10, 20, 30, 40, 50, 50]
total = 10

for value in data:
    total = value+total

print("Sum of values:", total)

Sum of values: 210

In [16]:
data = [10, 20, 30, 40, 50, 50]
total = 10

for value in data:
    total += value

print("Sum of values:", total)

Sum of values: 210

In [ ]:
n = 5
factorial = 1

while n >0:
    factorial = factorial* n
    n += 1

print("Factorial:", factorial)

In [ ]:
n = 5
factorial = 1

while n >0:
    factorial = factorial* n
    n += 1

print("Factorial:", factorial)

A For loop can iterate over a sequence of iterabale objects in Python.
Iterating objects nothing but over objects like strings, list, array, and dictionaries.

In [ ]:
name = jitendra 
for i in name:
    print(i)

In [ ]:
colors= ["Red", "Blue", "Yellow","Green"]
for color in colors:
    print(color)