## FOR AND WHILE LOOP

In [ ]:
import pandas as pd 

import numpy as np

In [2]:
name = 'Daria'
for i in name:
    print(i)

D
a
r
i
a

In [3]:
name = 'Daria'
for i in name:
    print(i)
    if(i=='a'):
        print('jiten')

D
a
jiten
r
i
a
jiten

In [4]:
        colors= ["Red", "Blue", "Yellow","Green"]
for color in colors:
    print(color)

Red
Blue
Yellow
Green

In [5]:
colors= ["Red", "Blue", "Yellow","Green"]
for color in colors:
    print(color)
    for i in color:
      print(i)

Red
R
e
d
Blue
B
l
u
e
Yellow
Y
e
l
l
o
w
Green
G
r
e
e
n

In [6]:
for k in range(5):
    
  print(k)

0
1
2
3
4

In [7]:
for k in range(0,20):
    
  print(k+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
for k in range(1,100,3):
    
  print(k)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97

In [9]:
data = [10, 20, 30, 40, 50, 50]
total = 10

for value in data:
    total = value+total

print("Sum of values:", total)

Sum of values: 210

In [10]:
data = [10, 20, 30, 40, 50, 50]
total = 10

for value in data:
    total += value

print("Sum of values:", total)

Sum of values: 210

In [11]:
name = 'Rahul'
print(name)

Rahul

In [2]:
for i in range(3):
   print(i)

0
1
2

In [5]:
i=0 
while (i<3):
    print(i)
    i=i+1

0
1
2

In [6]:
i=0 
while (i<=3):
    print(i)
    i=i+1
print("done with the loop")

0
1
2
3
done with the loop

In [ ]:
i= int(input("Enter the Number: "))
while (i<=38):
    i= int(input("Enter the Number: "))
    print(i)
    
print("done with the loop")

In [4]:
# decrementing loop
count=5
while (count>0):
    print(count)
    count=count-1
print("done with the loop")

5
4
3
2
1
done with the loop

In [7]:
# decrementing loop
count=-5
while (count>0):
    print(count)
    count=count-1
else:    
    print("i am inside the else")

i am inside the else

## BREAK AND CONTINUE STATEMENT

#### The break statment enables a program to skip over a part of the code. A break statement terminates the very loop it lies within.

In [11]:


for i in range(12):
    if (i==10):
        break
    print("5 X", i, "=", 5*(i))

print("loop ko chhodkar nikal gaya")

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
loop ko chhodkar nikal gaya

In [12]:

for i in range(12):
    if (i==10):
        print("skip the iteration")
        continue
    print("5 X", i, "=", 5*(i))

5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
skip the iteration
5 X 11 = 55

In [27]:
for i in [2,3,4,6,8,0]:
     if(i%2!=0):
        break
     print(i)

2

In [29]:
for i in [2,3,4,6,8,0]: # skip the iteration where if condition is True
     if(i%2!=0):
        continue
     print(i)

2
4
6
8
0

In [36]:
for i in range(1,101,1):    # skip the iteration where if condition is True
    print(i, end=" ")
    
    if(i==50):
        break
    else:
        print("fuckkkkkofff")
print("Thank you")

1 fuckkkkkofff
2 fuckkkkkofff
3 fuckkkkkofff
4 fuckkkkkofff
5 fuckkkkkofff
6 fuckkkkkofff
7 fuckkkkkofff
8 fuckkkkkofff
9 fuckkkkkofff
10 fuckkkkkofff
11 fuckkkkkofff
12 fuckkkkkofff
13 fuckkkkkofff
14 fuckkkkkofff
15 fuckkkkkofff
16 fuckkkkkofff
17 fuckkkkkofff
18 fuckkkkkofff
19 fuckkkkkofff
20 fuckkkkkofff
21 fuckkkkkofff
22 fuckkkkkofff
23 fuckkkkkofff
24 fuckkkkkofff
25 fuckkkkkofff
26 fuckkkkkofff
27 fuckkkkkofff
28 fuckkkkkofff
29 fuckkkkkofff
30 fuckkkkkofff
31 fuckkkkkofff
32 fuckkkkkofff
33 fuckkkkkofff
34 fuckkkkkofff
35 fuckkkkkofff
36 fuckkkkkofff
37 fuckkkkkofff
38 fuckkkkkofff
39 fuckkkkkofff
40 fuckkkkkofff
41 fuckkkkkofff
42 fuckkkkkofff
43 fuckkkkkofff
44 fuckkkkkofff
45 fuckkkkkofff
46 fuckkkkkofff
47 fuckkkkkofff
48 fuckkkkkofff
49 fuckkkkkofff
50 Thank you

In [41]:
i =0
while True:
    print(i)
    i=i+1
    if(i%10==0):
        break

0
1
2
3
4
5
6
7
8
9

In [53]:
while True:
    number = int(input("Enter a positive number: "))

    if number > 0:
        print(number)
        break
    else:
        print("Please enter a positive number.")

Enter a positive number:  0

Please enter a positive number.

Enter a positive number:  9

9

## taking user input

In [1]:
a = input("Enter your name ")
print("My name is ", a)

Enter your name  jitendra

My name is  jitendra

In [ ]:
x = input("Enter first number: ")
y = input("Enter second number: ")
print(x+y)  # it gives the sum of the memory used by character 
print(int(x)+int(y))